<h1><%= @user.username%>'s Profile</h1>
<p><%= @user.name %></p>
<p><%= @user.location %></p>
<p><%= @user.bio %></p>

<!-- FOLLOW & UNFOLLOW BUTTONS -->

<div>
    <% if current_user.following.include?(@user.id)%>
        <%= link_to "Follow", unfollow_path(id: @user.id), class: "btn btn-primary unfollow-btn"%>
    <% elsif current_user.id != @user.id%>
        <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary"%>
    <% end%>
</div>

<% @user.tweets.each do |tweet|%>
    <div class="well">
        <p><%= @user.username%></p>
        <p><%= tweet.message.html_safe%></p>
    </div>
<% end%>